/*------------------------------------------------------------ body global*/

body{
    margin: 0;
    padding: 0;
    background-color: #4a555a;
}

p{
    margin: 0;
    padding: 0;
}

.title-font{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*------------------------------------------------------------ Style*/

.bg-white{
    background-color: #fff;
}

.bg-yellow{
   background-color: #fcf76f; 
}

.bg-grey{
    background-color: #f4f4f4;
}

.grey-border{
    border: #474735 2px solid;
    border-radius: 6px;
}

.align-centre{
    text-align: center;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.margin-boost{
    margin-bottom: 10vh;
}

/*------------------------------------------------------------ Header*/

header{
    display: flex;
    height: 80px;
    position: relative;
    background-color: #4a555a;
}

#nav-small{
    display: none;
}

#logo-div{
    width: 20%;
    min-width: 240px;
    border-right: #474735 1px solid;
}

#logo-div img{
    display: block;
    margin: auto;
}

#nav-large{
    display: flex;
    width: 30%;
    margin-right: 0;
    float: right;
    position: absolute;
    right: 0;
    min-width: 360px;
}

#nav-large .nav-button{
    width: 50%;
    height: 100%;
    display: flex;
    border-left: #474735 1px solid;
}

.nav-button:hover{
    background-color: #e4df63;
}

#nav-large .nav-button a{
    width: 100%;
    height: 80px;
    margin: auto;
    font-size: 32px;
    text-decoration: none;
    color: #000;
    line-height: 240%;
}

#nav-large #home-button,
#nav-large #new-note-button{
    min-width: 180px;
}

/*------------------------------------------------------------ Content styling*/

#page-content{
    height: 80vh;
    margin: 20px auto;
    overflow:scroll;
    margin-bottom: 20px;
}

/*------------------------------------------------------------ Home*/

#search-input{
    width: 80%;
    height: 36px;
    font-size: 18px;
    margin: 20px auto;
    display: block;
    padding: 5px;
}

.note-list{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 40px 10vh;
}

.note-card{
    width: 30%;
    margin: 10px auto;
}

.card-content{
    padding: 5px;
    height: 360px;
}

.card-title{
    border-bottom: #dadada 1px solid;
    border-radius: 3px;
    clear: left;
    margin: 0;
    padding: 10px 0;
}

.card-description{
    border-bottom: #dadada 1px solid;
    border-radius: 3px;
    padding: 10px 0;
}

.card-tag{
    padding-top: 10px;
}

.card-title, .card-description, .card-tag{
    word-wrap: break-word;
}

.top-card-buttons{
    width: 50%;
    float: left;
    padding-top: 10px;
}

.open-button, .edit-button, .delete-button{
    width: 60px;
    height: 30px;
    border: #dadada 1px solid;
    border-radius: 5px;
    display: block;
    line-height: 25px;
    margin: auto;
    font-weight: 900;
    color: #000;
}

.edit-button, .open-button{
    background-color: #fff;
}

.edit-button:hover, .open-button:hover{
    background-color: #dadada;
    border-color: #000;
}

.open-button{
    margin-top: 20px;
}


.delete-button{
    background-color: #e44444;
    color: #fff;
    cursor: pointer;
}

.delete-button:hover{
    background-color: #d11717;
}

#delete-check-outer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

#delete-check-inner{
    width: 50%;
    height: 50%;
    margin: 50px auto;
    padding: 3px;
}

#delete-check-inner h3,
#delete-check-inner h4{
    font-size: 32px;
}

#delete-check-inner h3{
    text-decoration: underline;
    font-weight: bold;
}

#delete-check-inner h4{
    word-wrap: break-word;
}

#final-check{
    display: flex;
    justify-content: space-around;
}

#final-check button,
#final-check a{
    border: #dadada 1px solid;
    border-radius: 5px;
    line-height: 60px;
    width: 100px;
    height: 60px;
    text-decoration: underline;
}

#confirm-delete{
    background-color: #e44444;
    color: #000;
    color: #fff;
    font-size: 16px;
}

#confirm-delete:hover{
    background-color: #d11717;
}


#cancel-delete{
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#cancel-delete:hover{
    background-color: #dadada;
    border-color: #000;
}

/*------------------------------------------------------------ New/Edit Note*/

#new-note-block,
#edit-note-block{
    margin: auto auto 10vh;
    width: 80%;
    background-color: #fff;
    position: relative;
    display: block;
}

#new-note-block label,
#edit-note-block label{
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #dadada;
}

#new-note-block label,
#new-note-block input,
#new-note-block textarea,
#edit-note-block label,
#edit-note-block input,
#edit-note-block textarea{
    display: block;
    width: 90%;
    margin: 20px auto;
    padding: 5px;
}


#new-note-block input,
#new-note-block textarea{
    min-height: 40px;
}

#description{
    resize: none;
    overflow: auto;
}

#new-note-block #title-div,
#edit-note-block #title-div{
    padding-top: 20px;
}

.input-border{
    border: #474735 2px solid;
    border-radius: 6px;
}

.button-container{
    width: 100%;
    display: flex;
}

#new-note-block #submit-button,
#new-note-block #cancel-button,
#edit-note-block #submit-button,
#edit-note-block #cancel-button{
    font-size: 32px;
    margin: 20px auto;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    line-height: 60px;
    text-decoration: none;
}

#submit-button{
    background-color: #fff;
    color: #000;
}

#submit-button:hover{
    background-color: #dadada;
    border: #000 2px solid;
}

#cancel-button{
    background-color: #ff2c2c;
    color: #fff;
}

#cancel-button:hover{
    background-color: #d11717;
}

/*------------------------------------------------------------ Note*/

#note-title{
    width: 80%;
    margin: auto;
    border-top: #474735 2px solid;
    border-left: #474735 2px solid;
    border-right: #474735 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 32px;
    overflow-wrap: break-word;
}

#note-area{
width: 80%;
margin: auto;
border: #474735 2px solid;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

#editor{
    min-height: 500px;
}

#save-note{
    margin: 20px auto;
    border: #dadada 1px solid;
    border-radius: 5px;
    height: 60px;
    width: 120px;
    display: block;
    cursor: pointer;
}

#save-note:hover{
    background-color: #dadada;
    border-color: #000;
}

/*------------------------------------------------------------ Footer*/

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: #dadada 1px solid;
}

footer div{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
}

#legal-div{
    flex-direction: column;
}

#social-list{
    list-style-type: none;
}

#social-list ul{
    text-decoration: none;
    padding: 0;
}

#social-media p{
    width: 100%;
}

#social-list{
    width: 100%;
    padding: 0;
}

/*------------------------------------------------------------ Medium/tablet edits*/

@media only screen and (max-width: 800px){
    /*------------------------------------------------------------ Home*/
    .note-card{
        width: 45%;
        margin: 10px auto;
    }
}

/*------------------------------------------------------------ Small/phone edits*/


@media only screen and (max-width: 600px){

    /*------------------------------------------------------------ Style*/

    #page-content{
        height: 70vh;
    }

    /*------------------------------------------------------------ Header*/

    #nav-large{
        display: none;
    }

    #logo-div{
        width: 60%;
    }

    #nav-small{
        display:block;
        width: 40%;
    }

    #nav-small .nav-button{
        width: 100%;
        height: 100%;
    }

    #menu-button p{
        height: 100%;
        font-size: 32px;
        line-height: 240%;
    }

    #menu-button ul,
    #menu-button li,  
    #menu-button a {
        z-index: 1;
        list-style-type: none;
        text-decoration: none;
        padding: 0px;
        width:100%;
        line-height: 80px;
        position: relative;
        justify-content: center;
        flex-direction: column;
        font-size: 32px;
        color: #000;
        margin: 0 0 0 -0.75px;
    }

    #menu-button a{
        display: block;
    }

    #dropdown-list{
        list-style-type: none;
        text-decoration: none;
        display: none;
    }

    /*------------------------------------------------------------ Home*/

    .note-card{
        width: 100%;
        margin: 10px auto;
    }

    #final-check{
        flex-direction: column;
        align-items: center;
    }

    #final-check a{
        margin-bottom: 10px;
    }

    /*------------------------------------------------------------ New Note*/
    .button-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*------------------------------------------------------------ Footer*/

    footer{
        display:flex;
        flex-direction: column;
    }

    footer div{
        margin-top: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}