<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple website to contain all your notes!">
	<meta name="keywords" content="note, writing">
    <title>Note Groups!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <!-- Entire header section containg the logo and nav -->
    <header class="bg-white grey-border">
        <!-- Logo -->
        <div id="logo-div">
            <p>place holder</p>
        </div>
        <!-- Navigation with two links -->
        <nav id="nav-large">
            <div id="home-button" class="bg-yellow nav-button">
                <a href="#" class="align-centre">Home</a>
            </div>
            <div id="new-note-button" class="bg-yellow nav-button">
                <a href="#" class="align-centre">New Note</a>
            </div>
        </nav>

        <nav id="nav-small">
            <div id="menu-button" class="bg-yellow nav-button">
                <p class="align-centre">Menu</p>
            </div>
        </nav>
    </header>

    <div id="page-content" class="bg-grey">

    </div>

    <footer class="bg-yellow grey-border align-centre">
        <div id="legal-div">
            <p>Code and logo belong to the owner of the NoteGroups!&copy;</p>
        </div>
        <div id="social-media">
            <li id="social-list">
                <p>Please! Feel free to check out our social media:</p>
                <ul><a href="https://twitter.com/" target="_blank" aria-label="">Twitter</a></ul>
                <ul><a href="https://en-gb.facebook.com/" target="_blank" aria-label="">Facebook</a></ul>
                <ul><a href="https://www.instagram.com/" target="_blank" aria-label="">Instagram</a></ul>
            </li>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>