{% extends "base.html" %}
{% block content %}

<div id="new-note-block" class="grey-border">
    <form method="POST" action="{{ url_for('new_note') }}">
        <!-- Note title input box (required) -->
        <div id="title-div">
            <label for="title">Title:</label>
            <input id="title" name="title" type="text" minlength="3" maxlength="50" required>
        </div>
        <!-- Note decription input text area -->
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" type="text" maxlength="200" rows="10"></textarea>
        </div>
        <!-- Creating a blank file for the 'content' part of the databse -->
        <input type="hidden" name="note_content" id="note_content">
        <!-- Buttons -->
        <div class="button-container">
            <button type="submit" id="submit-button">Submit</button>
            <a href="{{ url_for('home') }}" id="cancel-button" class="align-centre">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    const quill = new Quill('#editor',{
    theme: 'snow',
    });

    document.querySelector('form').addEventListener('submit', function() {
        // Set hidden input value to the HTML content from Quill
        document.querySelector('#note_content').value = quill.root.innerHTML;
    });

</script>
{% endblock %}