{% extends "base.html" %}
{% block content %}

<!-- Load note title at top of page -->
<h1 id="note-title" class="align-centre bg-white title-font">{{ note.title }}</h1>

<!-- Form for when it comes to posting user input -->
<form method="POST" action="{{ url_for('note', note_id=note.id) }}" class="margin-boost">

    <!-- Store Quill input -->
    <input type="hidden" name="content" id="content">

    <!-- Note background -->
    <div id="note-area" class="bg-white title-font">
        <!-- Note editor area -->
        <div id="editor">
            {{ note.note_content|safe }}
        </div>
    </div>

    <!-- Save/submit button -->
    <button id="save-note" class="bg-white" type="submit">Save</button>
</form>

{% endblock %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script>
    // Initialize Quill editor
    const quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            // Decide what options will be in the toolbar
            toolbar: [
                // Header options + normal font
                [{ header: [1, 2, 3, false] }],
                ['bold', 'italic', 'underline'],
            ],
        },
    });

    // Set the editor content to the note content from the database
    quill.root.innerHTML = "{{ note.note_content|safe }}";

    // On form submission, set the hidden input value to the HTML content from Quill
    document.querySelector('form').onsubmit = function() {
        document.querySelector('#content').value = quill.root.innerHTML;
    };
</script>
{% endblock %}